{% extends 'OroSearchBundle:Search:searchResultItem.html.twig' %}

{% set showImage = false %}

{% set recordUrl = indexer_item.recordUrl %}
{% set title = (entity.code ~ ' - '~ entity.summary)|default('N/A') %}
{% set entityType = oro_entity_config_value(indexer_item.entityName, 'label')|trans %}
{% block additional_info %}
    <ul>
        <li>Summary: {{  entity.summary }}</li>
        <li>Type: {{ entity.type  }}</li>
        <li>Priority: {{ entity.priority.label }}</li>
        <li>Resolution: {{ entity.resolution.label }}</li>
        <li>Reporter: {{ entity.reporter.username }}</li>
        <li>Asignee: {{ entity.asignee.username }}</li>
        {#<li>Status: {{ entity.status }}</li>#}
    </ul>
{% endblock %}