{% extends 'OroSearchBundle:Search:searchResultItem.html.twig' %}

{% set showImage = false %}
{% set recordUrl = indexer_item.recordUrl %}
{% set title = (entity.code ~ ' - '~ entity.summary)|default('N/A') %}
{% set entityType = oro_entity_config_value(indexer_item.entityName, 'label')|trans %}
{% block additional_info %}
    <ul>
        <li>Summary: {{  entity.summary|raw }}</li>
        <li>Type: {{    entity.type|issue_type_name  }}</li>
        {% if entity.priority|default(false) %}
        <li>Priority: {{ entity.priority.label }}</li>
        {% endif %}
        {% if entity.resolution|default(false) %}
            <li>Resolution: {{ entity.resolution.label }}</li>
        {% endif %}

        <li>Reporter: {{ entity.reporter.username }}</li>
        {% if entity.asignee|default(false) %}
        <li>Asignee: {{ entity.asignee.username }}</li>
        {% endif %}
        <li>Status: {{ entity.workflowStep.label }}</li>
    </ul>
{% endblock %}